// Button
.btn {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        background-color: rgba(black, .15);
        filter: blur(8px);
        z-index: -1;
    }

    @include hover-focus-active {
        background-color: transparent !important;
        border-width: 0 !important;
        box-shadow: none !important;
    }
}

// Button primary
.btn-primary {
    background: transparent url('../img/bg-btn-primary.svg') no-repeat center center;
    background-size: 100% 100%;

}

// Button success
.btn-success {
    background: transparent url('../img/bg-btn-success.svg') no-repeat center center;
    background-size: 100% 100%;
}

// Button info
.btn-info {
    background: transparent url('../img/bg-btn-info.svg') no-repeat center center;
    background-size: 100% 100%;
}

// Button warning
.btn-warning {
    background: transparent url('../img/bg-btn-warning.svg') no-repeat center center;
    background-size: 100% 100%;
}