.map{
  @include media-breakpoint-down(md){
    margin: 0 -15px;
  }
}

.cart{
  display: block;
  position: relative;
  padding-right: 15px;
  &-icon{
    max-height: 45px;
  }
  .badge{
    width: 28px;
    height: 28px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: 0;
    background-color: $primary;
    color: $white;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: normal;
  }
}

.product-price{
  font-size: 3.75rem;
  font-weight: 600;
  display: inline-flex;
  color: $primary;
  .currency{
    font-size: 0.5em;
    font-weight: normal;
    margin-top:15px;
    color: $body-color;
  }
}

.bootstrap-touchspin{
  .btn{
    border: 1px solid $border-color;
    color: $primary;
    font-family: $font-family-base;
    font-size: 2rem;
    line-height: 0;
  }
}

.product-touchspin{
  max-width: 215px;
  margin: 0 auto;
  .form-control{
    text-align: center;
  }
  @include media-breakpoint-up(lg){
    margin: 0 0;
  }
}

.jFiler{
  font-family: $font-family-base;
  color: $text-muted;
  &-theme-default{
    .jFiler-input{
      background-color: $gray-100;
      border: 2px dashed $border-color;
      margin-bottom: 1rem;
      &-caption{
        float: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .jFiler-item{
      border-radius: 20px;
      box-shadow: 0 4px 17px rgba(#120E0F, .10);
      background-color: $white;
    }
    .jFiler-item-assets .icon-jfi-trash{
      border-width: 0;
      background-color: transparent;
      color: $danger;
    }
  }
}