.form-check-payment {
  padding-left: 0;
  .form-check {
    &-input{
      display: none;
      &:checked~.form-check-label>.form-check-dot::before {
        background-color: $success;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0 6px 38px rgba(#A7A7A7, .25);
      padding: 1rem;
      font-size: 1.25rem;
    }

    &-dot {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 28px;
      background-color: $gray-100;
      border: 1px solid $border-color;
      border-radius: 10rem;
      margin-right: 1rem;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        border-radius: 10rem;
        background-color: transparent;
      }
    }
  }
}

.form-order{
  .form-control{
    box-shadow: 0 6px 38px rgba(#A7A7A7, .25);
    border-width: 0;
  }
  input.form-control{
    border-radius: 10rem;
  }
  textarea.form-control{
    border-radius: 10px;
  }
}