header {
    background: url('../img/bg-top.png') no-repeat center top;
    background-size: 100% auto;
    font-size: 1.25rem;
    position: relative;
    overflow-x: hidden;
    min-height: 138px;
    .bg-character{
        position: absolute;
        top: 0;
        right: -2%;
        display: none;
    }
    >.container {
        position: relative;
        z-index: 2;
    }

    .navbar {
        position: relative;
        padding-bottom: 2.5rem;
        z-index: 3;
        @include transition($transition-base);

        &-brand {
            @include transition($transition-base);

            img {
                height: 80px;
                @include transition($transition-base);
            }
        }
        &-toggler{
            &-icon{
                background: url('../img/menu-bar.svg') no-repeat center center;
                background-size: contain;
            }
            &-close{
                background-color: transparent;
                border-width: 0;
                font-size: 1.5rem;
                color: $primary;
                margin: 1rem 0 .5rem;
            }
        }
    }

    .nav {
        &-item {
            &.active {
                .nav-link {
                    color: $navbar-active-color;
                    font-weight: 600;

                    &::before {
                        background-color: $navbar-active-color;
                    }
                }
            }
        }

        &-link {
            position: relative;
            text-align: center;
            color: $navbar-color;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-color: transparent;
                width: 25px;
                height: 4px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        min-height: 240px;
        background-position: center center;
        background-size: cover;
        .bg-character{
            display: block;
        }
        .navbar {
            padding-bottom: 5rem;
            >.container {
                flex-direction: column;
            }

            &-brand {
                margin-right: 0;
                margin-bottom: 1rem;
            }
            &-toggler-close{
                display: none;
            }
        }

        .product {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -6rem;
                width: 100%;
                height: 100%;
                background: url('../img/aloevera.png') no-repeat left bottom 6rem;
                background-size: auto;
            }

            &-img {
                position: relative;
                max-width: 100%;
            }
        }
    }

    @include media-breakpoint-down(md){
        .offcanvas-collapse {
            position: fixed;
            top: 0; /* Height of navbar */
            bottom: 0;
            left: 100%;
            width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
            overflow-y: auto;
            visibility: hidden;
            background: $white url('../img/bg-content.png') no-repeat center center;
            background-size: cover;
            transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            &.open {
                visibility: visible;
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
                z-index: $zindex-fixed;
              }
          }
          .product{
              &-img{
                max-width: 135%;
                margin-left: 50%;
      transform: translateX(-50%);
            }
          }
    }
}

.is-sticky {
    .navbar {
        background: url('../img/bg-navbar-bottom.png') repeat-x center bottom;
        background-size: auto 100%;
        @include transition($transition-base);
        &-brand {
            margin-bottom: 0;
            @include transition($transition-base);

            img {
                height: 50px;
                @include transition($transition-base);
            }
        }
    }
}