#bestSeller {
    margin-bottom: 5rem;

    .link {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: $primary;
            width: 70px;
            height: 2px;

            @include media-breakpoint-up(lg) {
                margin: 0 0 0 auto;
            }
        }
    }

    .product {
        @include media-breakpoint-down(md) {
            margin: 0 -15px;
        }

        &-item {
            padding: 0 .25rem 1.5rem;

            img {
                height: 300px;
            }

            @include media-breakpoint-down(md) {
                font-size: .8rem;
            }
        }

        &-text {
            min-height: 100px;
        }
    }
}