// Colors system
$primary: #f9623d;
$success:#63a743;
$info:#63b9da;
$warning:#e25782;

$facebook:#3a559f;
$line:#00c200;
$instagram:#c536a4;

$white: #ffffff;

$theme-colors: (
  "white": $white
);

// Body
$body-bg-image: url('../img/bg-content.png') no-repeat center top;
$body-color: #120e0f;

// Links
$link-hover-decoration: none;

// Typography
$font-family-base: 'Prompt',
sans-serif;
$enable-responsive-font-sizes: true;

// Buttons + Forms
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1.25rem;

// Buttons
$btn-border-width: 0;

// Forms
$input-border-color:  #E5E5E5;
// $input-placeholder-color: $body-color;
$input-border-radius: 3px;

// Navbar
$navbar-color: $body-color;
$navbar-active-color: $primary;

// Modals
$modal-backdrop-bg: $primary;
$modal-content-border-width: 0;
$modal-content-bg:  transparent;
$modal-header-bg:  white;
$modal-body-bg:  white;